.icon{ font-size: 20px;
color:red;}

.face{font-size: 50px;
color:blue; justify-content: center;}

.insta{font-size: 50px;
color:red;  justify-content: center;}

.link{font-size: 50px;
color:deepskyblue; justify-content: center;}

.gmail{font-size: 50px;
color:tomato; justify-content: center;}