body{
    background-color: brown;
}
/*

@media  screen  and (max-width:450px)
{
body{
    background-color: blue
}  
}
@media screen and (min-width:700px) {
    body{ background-color: black;}
    
}*/

@media screen and (min-width:450px) and (max-width:800px)
  {
    body{
        background-color: orange;
    }
    
}